#Node.js dependecies
/node_modules

#Environment variables
.env

#Firebase service account key
/config/serviceAccountKey.json

#logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

#OS files
.DB_Store
Thumbs.DB_Store

#Build output
dist
Build

#IDE/editor settings
.vscode/
.idea/
*.swp

#Coverage and test output
covearage